body {
  margin:0 0 0 0;
  background:#F6F1E0;
  font-family:sans-serif;
  color:#000000;
}

body > div {
  display:table;
  width:100%;
  margin:0px 0px 0px 0px;
  padding-bottom:100px;
}

div.sitemap  {
  margin:0px 5px 100px 5px;
}

div.sitemap > div {
  padding:0px 0px 0px 14px;
}

div.sitemap ul {
  border-radius:12px;
  padding:3px 15px 3px 26px;
  margin:3px 15px 3px 0px;
  list-style:none;
  background-color:rgba(220,120,0,0.12);
}

div.sitemap a {
  display:block;
  overflow:hidden;
  font-family:sans-serif;
  color:black;
  text-decoration:none;
  font-size:14px;
  padding:10px 0px 10px 8px;
  margin:10px 10px 10px -10px;
  border-left:5px solid rgba(220,120,0,0.12);
  border-bottom:1px dotted orange;
}

div.crossreferences > div > div,
div.attachments > div > div {
  margin:10pt;
  font-weight:bold;
  border-bottom:1px dotted #000000;
}

div.crossreferences li a,
div.attachments li a {
  font-family:sans-serif;
  font-size:16px;
  color:#000000;
  text-decoration:underline;
}

div.textcontent {
  display:table-header-group;
}

div.textcontent div,
div.url div,
div.stream div,
div.graphic div {
  margin:0px 10px 0px 10px;
  border-bottom:1px dotted #01579c;
  padding:5px 10px 15px 10px;
  font-family:monospace;
  font-size:16px;
  line-height:180%;
  display:block;
  unicode-bidi:embed;
  word-wrap:break-word;       /* Internet Explorer 5.5+ */
  word-break:break-all;
}

div.textcontent,
div.url,
div.stream,
div.graphic {
  width:100%;
}

div.textcontent a,
div.url a {
  font-family:sans-serif;
  font-size:16px;
  color:#000000;
  text-decoration:underline;
}

div.taskdate {
  margin:10pt;
  font-family:sans-serif;
  font-size:14px;
}

div.navigation {
  border-spacing: 10px 10px;
  display:table-footer-group !important;
}

div.navigation > div {
  padding:10px 0px 5px 0px;
  margin:10px 15px 10px 15px;
  border-bottom:1px dotted silver;  
}

div.navigation > div.label {
  color:#444444;
  font-size:16px;
  font-weight:bold;
  border:0 !important;
}

div.navigation div a {
  display:block;
  border:1px solid #cccccc;
  border-radius:5px;
  padding:15px;
  margin-bottom:10px;
  font-family:sans-serif;
  font-size:14px;
  text-decoration:none;
  color:#444444;
  background-color:rgba(220,120,0,0.12);
  font-weight:bold;
}

div.path {
  display:table-footer-group;
}

div.path > div {
  padding:15px 15px 0px 15px;
}

div.path > div.label {
  color:#444444;
  font-size:16px;
  font-weight:bold;
  border:0 !important;
}

div.path div a {
  display:block;
  clear:both;
  padding:3pt;
  margin-bottom:10px;
  background:#9ed3fd;
  border-radius:3px 3px 3px 3px;
  -webkit-border-radius:3px 3px 3px 3px;
  font-family:sans-serif;
  font-size:14px;
  text-decoration:none;
  color:white;
}

div.path div a:LAST-CHILD {  
  background:#067ede;
  -webkit-border-radius:3px 3px 3px 3px;
  border-radius:3px 3px 3px 3px;
  margin-left:10px;
  padding-right:5pt;
}

div.path div a:NTH-LAST-CHILD(2) {
  background-color:#73c1ff;
  -webkit-border-radius:3px 3px 3px 3px;
  border-radius:3px 3px 3px 3px;
  margin-left:5px;
  padding-right:5pt;
}

div.path > div > a.sitemap {
  float:left;
  background:#eac886 !important;
  -webkit-border-radius:0px;
  border-radius:4px;
  padding:13px 20px 13px 20px;
  margin-bottom:15px;
}

div.path a.parent img {
  vertical-align:middle;
}

div.path a.parent {
  border:none;
  margin-right:15px;
  float:left;
  clear:none !important;
  text-align:center;
  padding:15px 20px 15px 20px;
}

div.path a.parent[title="One level up"] {
  border:none;
  background-color:#067ede !important;
  margin:0px 15px 10px 25px;
  float:left;
  clear:none !important;
  text-align:center;
  padding:15px 20px 15px 20px;
}

div.path a.parent[title="Next page"],
div.path a.parent[title="Previous page"] {
  border:none;
  background-color:#01579c !important;
  margin-right:15px;
  float:left;
  clear:none !important;
  text-align:center;
  padding:15px 20px 15px 20px;
}

div.title div.name {
  background:#01579c;
  color:white;
  font-size:20px;
  font-weight:bold;
  letter-spacing:2px;
  padding:15px;
}

div.title {
  display:table-caption;
  width:100%;
  margin-bottom:10pt;
  clear:both;
}

div.title div.description {
  margin:0px 10px 0px 10px;
  border-bottom:1px dotted #01579c;
  padding:15px 15px 15px 15px;
  display:block;
  unicode-bidi:embed;
  line-height:150%;
  font-family:serif;
  font-size:18px;
  word-wrap:break-word;       /* Internet Explorer 5.5+ */
  word-break:break-all;
}

div.maintitle {
  position:fixed;
  padding-bottom:15px;
  bottom:0px;
  background:#01579c;
  width:100%;
  font-size:16px;
  border-top:1px solid #999;
}

div.maintitle > div {
  color:white;
  padding:5pt;
}

div.maintitle div.author {
  clear:both !important;
  float:right !important;
}

div.maintitle div.lastmodified {
  float:right;
  padding-right:10pt;
}

div.maintitle div.name {
  clear:both !important;
}

ul {
  list-style-type: square;
  padding: 10px 10px 10px 10px;
  margin: 0px 10px 10px 10px;
}

iframe {
  width:90%;
  height:initial;
}
